#burgerList {
   background-color: aliceblue;
   float: left; 
   margin-left: 10%;
   padding: 10px;
}
#devouredList {
    background-color: aliceblue;
    float: right;
    margin-right: 10%;
    padding: 10px;
}
body {
    background-color: rgb(243, 243, 79);
}
h1 {
    text-align: center;
    color: darkred;
}
.text-center {
    display: block;
    margin: 0 auto;
    width: 30%;
}
h2 {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
form {
 margin: 0 auto;  
 width: 250px;
}